<%= form_for @user, :html => { class: 'form-horizontal col-md-6' } do |f| %>
  <div class="form-group">
    <%= f.text_field :email, class: "form-control", placeholder: "Adres e-mail" %>
  </div>
  <div class="form-group">
    <%= f.text_field :first_name, class: "form-control", placeholder: "Imię" %>
  </div>
  <div class="form-group">  
    <%= f.text_field :last_name, class: "form-control", placeholder: "Nazwisko" %>
  </div>
  <div class="form-group">  
    <%= f.text_field :address, class: "form-control", placeholder: "Adres" %>
  </div>
  <div class="form-group">  
    <%= f.text_field :phone_number, class: "form-control", placeholder: "Telefon" %>
  </div>
  <div class="form-group">  
    <%= f.file_field :avatar %>
  </div>  
    <%= link_to "Powrót", @user, class: "btn btn-default" %>
    <%= f.submit "Zapisz zmiany!", class: "btn btn-success" %>
<% end %>
<div class="col-md-2"></div>
<div class="col-md-3">
  <%= image_tag @user.avatar.url(:medium) %>
</div>
<div class="col-md-1"></div>