<%= form_for @category, html: { multipart: true } do |form| %>
<div class="control-group">
  <div class="title field">
    <%= form.label :title, class: 'control-label' %>
    <%= form.text_field :title, value: @category.title, class: 'text_field' %>
  </div>
  <div class="description field">
    <%= form.label :description, class: 'control-label' %>
    <%= form.text_area :description, value: @category.description %>
  </div>
  <div class="photo field">
    <%= form.file_field :avatar, class: 'file_field' %>
  </div>
  <div class="action">
    <%= link_to "Powrót", categories_path, class: 'btn' %>
    <%= form.submit "Zapisz zmiany!", class: 'btn btn-primary' %>
  </div>
</div>
<% end %>