<%= form_for @category, html: { multipart: true, class: "form-horizontal" } do |f| %>
  <div class="form-group">
    <%= f.text_field :title, value: @category.title, class: 'form-control', placeholder: "Nazwa" %>
  </div>
  <div class="form-group description">
    <%= f.text_field :description, value: @category.description, class: 'form-control ', placeholder: "Opis" %>
  </div>
  <div class="form-group">
    <%= f.file_field :avatar %>
  </div>
  <div class="form-group">
    <%= link_to "Powrót", categories_path, class: 'btn btn-default' %>
    <%= f.submit "Zapisz zmiany!", class: 'btn btn-success' %>
  </div>

  <div class="stats well col-md-offset-6">
  </div>
<% end %>