<%- model_class = Category -%>
<div>
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nazwa</th>
      <th>Opis</th>
      <th>Zdjęcie</th>
      <th>Ostatnio edytował</th>
      <th>Utworzono</th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= link_to category.id, category_path(category) %></td>
        <td><%= (category.title).html_safe %></td>
        <td><%= (category.description).html_safe %></td>
        <td class="category"><%= image_tag category.avatar(:thumb) %></td>
        <% if category.last_contributor %>
          <td><%= category.last_contributor %></td>
        <% end %>
        <td><%= category.created_at.strftime('%T %F') %></td>
        <td>
          <%= link_to "Edytuj", edit_category_path(category), :class => 'btn btn-mini' %>
          <% if current_user.admin? %>
            <%= link_to "Usuń", category_path(category), :method => :delete,
                        :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Jesteś pewny?')) },
                        :class => 'btn btn-mini btn-danger' %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_user.admin? %>
  <%= link_to "Dodaj nową kategorię", new_category_path, :class => 'btn btn-primary' %>
<% end %>